@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root, body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

a {
  text-decoration: none;
}

.main-app {
  min-height: 100vh;
}

@import 'colors.scss';
@import 'fonts.scss';
@import 'bootstrap';