@import 'src/styles/colors.scss';

$header-height: 200px;


.page-header {
  background-color: $green;
  height: $header-height;

  h1 {
    font-family: sans-serif;
    font-weight: 800;
    font-size: 80px;
    letter-spacing: 30px;
    z-index: 1;
  }
}

.fade-header {
  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    height: $header-height;
    width: calc(100vw/2);
    top: 0;
  }

  &:before {
    background: linear-gradient(to left, $green, 70%, $secondary);
  }

  &:after {
    right: 0;
    background-image: linear-gradient(to right, $green, 70%, $secondary);
  }
}